* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
}

.collaborators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.collaborators .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collaborators .logos img {
  margin-left: 60px;
}

.collaborators .amount {
  font-weight: 700;
  color: #7f56d9;
  font-size: 30px;
  line-height: 34px;
}

.collaborators .text {
  font-weight: 300;
  color: #101828;
  font-size: 25px;
  line-height: 34px;
}

.task_7 {
  font-weight: bold;
}

.task_7 b {
  color: #645cbb;
}

.task_7 .light_purple {
  color: #bface2;
}

/* color 1 - #7F56D9 */
/* color 2 - #F9F5FF */
/* color 3 - #D0D5DD */
/* color 4 - #101828 */
/* color 5 - rgba(36, 187, 140, .02) */
